* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: quicksand;
}

body {
  background-color: #d2d4da;
}

.header {
  background-color: #1c1d22;
  display: flex;
  padding: 30px;
  position: fixed;
  width: 100%;
}

.header nav {
	margin: 0 auto;
	width: 95%;
	display: flex;	
	justify-content: space-between;
}

.header nav i {
	font-size: 50px;
	color: #8CE0E3;
}

.header ul {
  display: flex;
  justify-content: center;
	align-items: center;
}

.header li {
  list-style: none;
}

.header a {
  color: #8CE0E3;
  margin-left: 20px;
  font-size: 30px;
  text-decoration: none;
  padding: 10px 30px;
	font-family: open sans;
	font-weight: lighter;
	text-transform: uppercase;
}

.introSection {
	background-image: url(/safar-safarov-LKsHwgzyk7c-unsplash.jpg);
	background-size: cover;
	min-height: 100vh;;
	background-position: center;
	display: flex;
	align-items: stretch;
}

.introDiv {
	display: flex;
	margin: 0 auto;
	width: 80%;
	align-items: center;
	justify-content: space-between;
}

.introDiv .imageContainer img {
	width: 500px;
	border-radius: 50%;
}

.introDiv .textContainer {
	color: #8CE0E3;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 50px;
}

.introDiv .textContainer h2{
font-size: 100px;
font-weight: bolder;
text-align: center;
}

.introDiv .textContainer p {
	text-transform: uppercase;
	font-size: 30px;
	font-weight: 1;	
	margin-bottom: 60px;
}

.introDiv .textContainer a {
	background-color: #8CE0E3;
	padding: 25px 70px;
	border-radius: 20px;
	font-size: 2rem;
	color: #1c1d22
}

.introDiv .textContainer .flagsContainer {
	margin-top: 10px;
}

a {
  opacity: 0.5;
}

a:hover {
  opacity: 1;
}

#aboutMe {
	background-color: #d2d4da;
	min-height: 89vh;
	padding: 30px;
}

#aboutMe h1 {
	text-align: center;
	font-size: 25px;
	font-family: open sans;
	font-weight: 100;
	margin: 20px 0;
	color: #373943;
	text-transform: uppercase;
}

#aboutMe hr {
	margin: 0 auto 80px;
	width: 40%;
	text-align: center;
	height: 1px;
	background-color: #1c1d22;
	border: none;
	border-radius: 30px;
}

#aboutMe .aboutMeContainer {
	width: 90%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row-reverse;
}

#aboutMe .aboutMeContainer .leftSide {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	background-color: #E9EAED;
	padding: 40px;
	border-radius: 30px;
}

#aboutMe .aboutMeContainer .leftSide img {
	width: 400px;
}

#aboutMe .aboutMeContainer .leftSide .skills {
	padding: 20px;
}

#aboutMe .aboutMeContainer .leftSide .skills h3 {
 font-family: open sans;
 font-weight: 100;
 margin-bottom: 2px;
}

#aboutMe .aboutMeContainer .leftSide .skills p {
	margin-bottom: 13px;
	font-size: 17px;
	font-weight: 500;
}

#aboutMe .aboutMeContainer .rightSide {
	max-width: 65%;
	background-color: #E9EAED;
	padding: 40px;
	border-radius: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	text-align: center;
}

#aboutMe .aboutMeContainer .rightSide h2 {
	font-size: 2rem;
	text-align: center;
	margin-bottom: 50px;
}


#aboutMe .aboutMeContainer .rightSide hr {
	width: 50%;
	border: none;
	color: #373943;
	height: 2px;
	border-radius: 30px;
}

#aboutMe .aboutMeContainer .rightSide p {
	font-size: 1.4rem;
	margin-bottom: 90px;
}

#aboutMe .aboutMeContainer .rightSide a {
	text-decoration: none;
	color: #1c1d22;
}