body {
    font-family: sans-serif;
    background-color: #104042;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    color: #104042;
    text-align: center;
    background-color: #D8F5FE;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
    border: 3px solid #1C1D22;
    max-width: 100%;
}

em {
    font-weight: 900;
}

.linksNavegacao {
    background-color: #D8F5FE;
    height: auto;
    margin-bottom: 15px;
    margin-top: 15px;
    vertical-align: bottom;
    text-align: center;
    width: 100%;
    border: 3px solid #1C1D22;
} 

nav ul {
    margin: 4px;
}

nav ul li{
    display: inline-block;
    text-decoration: none;
    margin-right: 10px;
    font-size: 20px;
    font-weight: 800;
    border: 2px solid #1C1D22;
}

nav ul li a {
    text-decoration: none;
    color: #104042;
    padding: 3px 20px;
}

nav ul li a:hover {
    background-color: #104042;
    color: #D8F5FE;
}

.fotoETexto {
    background-color: #D8F5FE;
    border: 3px solid #1C1D22;
}

img {
    border-radius: 50%;
    min-width: 300px;
    border: 3px solid #1C1D22;
    margin: 10px 50px;
}

#paragrafoApresentacao {
    display: inline-block;
    vertical-align: top;
    align-items: center;
    max-width: 70%;
    text-align: center;
    margin-top: 75px;
    padding: 30px 0px;
    border: 2px solid #1C1D22;
    font-size: large;
}

strong:hover {
    color: #2CB0B5;
}